[flake8]
ignore =
    # Black compatibility
    E203, W503,
    #suppress annotation for *args and **kwargs, eventually consider removing
    ANN002, ANN003
    #temporary suppression of dependency check since NEURON Windows 8.2.4+ is invisible to pip
    I900 
docstring-style: SPHINX
max-line-length = 120
max-complexity = 18
#TEMPORARY ignores
per-file-ignores = __init__.py:F4, tests/*.py: D,E800, ANN
