[project]
name = "wmglab-neuron"
version = "0.0.1"
description = ""
readme = "README.md"
requires-python = ">=3.7"
license = {file = "LICENSE"}

classifiers = [
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent",
]

[project.urls]
homepage = ""
documentation = ""
changelog = ""

[project.scripts]
wmglab_neuron_install = "wmglab_neuron.install:main"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
line_length = 120

[tool.black]
line-length = 120
skip-string-normalization = true

[tool.rstcheck]
ignore_directives = [
    "automodule",
]

[tool.flynt]
line-length = 120

[tool.docformatter]
wrap-summaries = 0
wrap-descriptions = 0
in-place = true
